<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <br /><br /><br />
    <a class="navbar-brand"> </a>
    <br />
    <a class="navbar-brand">Imágenes</a>
  </div>
</nav>
<form class="row g-3">
  <div class="img-container">
    <img
      *ngFor="let item of imagenes"
      src="{{ ruta + item.filePath }}"
      alt=""
    />
  </div>
  <form></form>
  <div class="input-group mb-2">
    <input
      type="file"
      class="form-control"
      id="inputGroupFile02"
      multiple
      accept="image/*"
      (change)="selectMultipleImage($event)"
    />
    <button type="button" class="btn btn-success" (click)="onMultipleSubmit()">
      Cargar
    </button>
  </div>
</form>
