<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <br /><br /><br />
    <a class="navbar-brand" href="#">
      <img
        src="/assets/logo.jpeg"
        alt="Logo"
        height="30"
        class="d-inline-block align-text-top"
      />
    </a>
    <br />
    <a class="navbar-brand" href="/">SubeloTodo Mantenedor</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Productos</a>
        </li>
        <li class="nav-item" *ngIf="admin == '1'">
          <a class="nav-link" href="/categorias">Categorias/Subcategorias</a>
        </li>
        <li class="nav-item" *ngIf="admin == '1'">
          <a class="nav-link" href="/ubicaciones">Regiones/Comunas</a>
        </li>
        <!--<li class="nav-item">
          <a class="nav-link" href="#">Etiquetas</a>
        </li>-->
      </ul>
    </div>
  </div>
  <button type="button" class="btn btn-dark" (click)="logout()">Salir</button>
</nav>
